table,
tbody.ant-table-tbody {
    display: flex;
    flex-direction: column;
}

.ant-table-row,
.ant-table-thead>tr {
    display: flex;
}

.ant-table-cell {
    /* width: 200px; */
    text-align: center;
}

.ant-table-selection-column {
    width: 60px;
}

/* .head_btn {
    text-align: center;
    margin-top: 10px;
} */
.g-ass{
.m-ass_head_btn .ass_clear {
    margin-right: 15px;
    
}

.m-ass_top_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

 

.m-ass_table .ant-table-cell:nth-last-child(3) {
    width: 240px;
     
}

 

.m-ass_table .ant-table-cell:nth-last-child(2) {
    width:300px;
    
     
}

.m-ass_table .ant-table-cell:nth-last-child(1) {
    width: 250px;
}

.m-ass_table .ant-table-placeholder .ant-table-cell{
    width: 850px;
}

.m-ass_noTopicNum {
    
    
    font-size: 16px;
    font-weight: bold;
   
}
}