[data-component="imgupload"]{
  .upload-span{
    cursor: pointer;
    text-decoration:underline;
  }

  .ant-upload-list-picture-card-container{
    width: 150px;
    height: 70px;
  }

  .ant-upload-list-picture-card .ant-upload-list-item{
    width: 150px;
    height: 70px;
  }
}