[data-component="t-formOP"]{
    overflow: auto;
    height: 100%;

    .m-footer{
        margin-top: 16px;
        display: flex;
        flex-direction: row-reverse;
    }

    .u-item-describe{
        width: 670px;
    }

    .u-intro h3{
        font-weight: bold;
    }

    .u-reply-score{
        margin-top: 5px;
        display: flex;
    }
}