table{
    width: 100%;
    margin-bottom: 30px;
}

thead{
    background-color: #fafafa;
}

th{
    padding: 16px;
    font-size: 14px;
}

td{
    padding: 16px;
    font-size: 14px;
}

.td0{
    color: orange;
}

.td1{
    color: orange;
}

.td2{
    color: red;
}

.td3{
    color: green;
}

tr:hover{
    background-color: #fafafa;
}