[data-component="stumethods"]{

  .ant-card-head .ant-tabs{
    padding-left: 300px;
  }

  .stu-info{
    position: absolute;
    bottom: 1px;
    height: 40px;
    margin: 0;
    width: 100%;
    background-color: #666;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 50px;
  }

  .stumethods{
    position: relative;
    height: 100%;
  }


  .stumethods-pd{
    padding: 30px;
  }

  .ant-tabs-large > .ant-tabs-nav .ant-tabs-tab{
    padding: 10px 0;
    font-size: 14px;
  }
  
  .note-block{
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .note-block>.ant-card>.ant-card-body{
    padding: 5px 10px;
    word-wrap: break-word;
  }

  .one-of-three{
    width: 33%;
  }

  .f-title{
    padding: 5px 10px;
  }
  
  .file-block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 10px;
    padding: 3px;
  }
  
  .card-inner{
    display: flex;
  }
  
  .file-block-row{
    display: flex;
    width: 250px;
    flex-wrap: wrap;
  }
  
  .file-block-row>.g-file{
    margin: 0 5px;
  }
  
  .ant-card-small > .ant-card-head{
    padding: 0;
  }
  
  .ant-card-body{
    padding: 10px 0;
  }


  .tab-title{
    margin-left:9px
  }

  .note-title{
    width: 110px;
  }

  .note-info-span{
    margin: 10px;
  }

  .ml-long{
    margin-left: 20px;
  }

  .mr-long{
    margin-right: 20px;
  }

  .m-fdl-spaceline{
    width: 80%;
    height: 1px;
    margin: 20px;
    box-sizing: border-box;
    border-style: dashed;
    border-bottom: 1px dashed #666;
  }

  .m-file-down-load{
    width: 260px;
    cursor: pointer;
  }


  .m-f-down-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .m-f-down-pic{
    width: 66px;
    height: 66px;
    padding: 8px;
    font-size: 30px;
    border: 1px dashed #666;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  

}
.task-form-modal{
  top: 30px;
}


