.checkTeacher,.checknum {
    margin-bottom: 20px;
    display: flex;
    /* padding-left: 150px; */
}

/* .num {
    margin-left: 13px;
    color: #a2a2a2;
} */

.btn {
    margin-top: 20px;
}

.btn #clear {
    margin-right: 10px;
}

.info {
    font-size: 16px;
    line-height: 40px;
}

.info .ant-input-number{
    margin: 0 5px ;
}

.info .num {
    margin: 0 5px;
    font-weight: bold;
    font-size: 21px;
    color: #333;
}

.select_tea {
    margin: 10px 0;
}