.checkTeacher,.checknum {
    margin-bottom: 20px;
    display: flex;
    /* padding-left: 150px; */
}

.num {
    margin-left: 13px;
    color: #a2a2a2;
}

.btn {
    margin-left: 94px;
}

.btn #clear {
    margin-right: 10px;
}
