 .ant-table-tbody{
	 display: flex;
	 flex-direction: column;
	  width: 800px;
	  
 }
 .ant-table-content{
	 padding-left: 80px;
	 padding-top:40px
 }
 
.ant-spin-nested-loading{
	width: 880px;
}

.ant-table-tbody > tr > td{
	width: 200px;

}
.ant-table-cell{
	text-align: center;
	
}

.ant-modal-content{
	width: 900px;
	margin-left :-170px;
}

.ant-descriptions-item-label{
	width: 120px;
}

.back{
    text-align: center;
    margin-bottom: 15px;
}

.detail-title{
    font-weight: 800;
    font-size: 24px;
    padding-left:80px;
    padding-top:30px
}