/* 数据详情 */
table,
tbody.ant-table-tbody {
    display: flex;
    flex-direction: column;
}

.ant-table-row,
.ant-table-thead>tr {
    display: flex;
}

.ant-table-cell {
    width: 200px;
    text-align: center;
}

.ant-table-selection-column {
    width: 60px;
}
 
.ant-modal-content{
	width: 900px;
	margin-left :-170px;
}
.ant-descriptions-item-label{
	width: 120px;
}

.back{
    text-align: center;
    margin-bottom: 15px;
}

.detail-title{
    font-weight: 800;
    font-size: 24px;
    padding-left:80px;
    padding-top:30px
}

.release {
	margin-bottom: 15px;
	text-align: right;
}