.g-dt {
    padding: 15px 75px;
    box-sizing: border-box;
    width: 950px;

    .m-choose {
        margin-bottom: 35px;
        display: flex;
    }
    
    // antd table组件
    table,
    tbody.ant-table-tbody {
        display: flex;
        flex-direction: column;
    }

    .ant-table-row,
    .ant-table-thead>tr {
        display: flex;
    }

    .ant-table-cell {
        text-align: center;
    }


    // 单选框
    .ant-radio-group {
        line-height: 32px;
    }

    .ant-radio-wrapper span {
        font-size: 16px;
    }


}

// 描述性表格，表头宽度 (Modal内)
.ant-descriptions-item-label{
    width: 120px;
}
