.main {
    margin: 30px;
    box-sizing: border-box;
    /* width: 900px; */
}

.detail {
    text-align: right;
}

/* .choose {
    margin: 10px;
} */

.title {
    font-size: 16px;
    /* font-weight: bold; */
    /* margin-bottom: 10px; */
    line-height: 32px;
    width: 200px;
    text-align: right;
    margin-right: 30px;
}

.checkTeacher,.checknum,.checkTopic,.choose {
    margin-bottom: 20px;
    display: flex;
}

.ant-btn {
    margin-right: 10px;
} 

.item {
    display: flex;
}

.num {
    line-height: 32px;
    margin-left: 10px;
}

.topicNum {
    font-size: 16px;
}

.topicNum span {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

.btn {
    text-align: center;
}

/* 数据详情 */
 .ant-table-tbody{
	 display: flex;
	 flex-direction: column;
	  width: 800px;
	  
 }
 .ant-table-content{
	 padding-left: 80px;
	 padding-top:40px
 }
 
.ant-spin-nested-loading{
	width: 880px;
}

.ant-table-tbody > tr > td{
	width: 200px;

}
.ant-table-cell{
	text-align: center;
	
}

.ant-modal-content{
	width: 900px;
	margin-left :-170px;
}

.ant-descriptions-item-label{
	width: 120px;
}

.back{
    text-align: center;
}

.detail-title{
    font-weight: 800;
    font-size: 24px;
    padding-left:80px;
    padding-top:30px
}