.main {
    padding: 50px 75px;
    box-sizing: border-box;
    width: 950px;
    /* background-color: #fff; */
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.ant-radio-group {
    line-height: 32px;
}

.title {
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    margin-right: 30px;
}

.choose {
    margin-bottom: 20px;
    display: flex;
    /* padding-left: 150px; */
}

/* .num {
    margin-left: 13px;
    color: #a2a2a2;
} */

.topicNum {
    font-size: 16px;
}

.topicNum span {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}

/* .btn {
    text-align: center;
}

.btn #clear {
    margin-right: 10px;
} */

/* 数据详情 */
 /* .ant-table-tbody{
	 display: flex;
	 flex-direction: column;
	  width: 800px;
	  
 }
 .ant-table-content{
	 padding-left: 80px;
	 padding-top:40px
 }
 
.ant-spin-nested-loading{
	width: 880px;
}

.ant-table-tbody > tr > td{
	width: 200px;

}
.ant-table-cell{
	text-align: center;
	
}

.ant-modal-content{
	width: 900px;
	margin-left :-170px;
}

.ant-descriptions-item-label{
	width: 120px;
}

.back{
    text-align: center;
    margin-bottom: 15px;
}

.detail-title{
    font-weight: 800;
    font-size: 24px;
    padding-left:80px;
    padding-top:30px
} */