table,tbody.ant-table-body{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ant-table-row,
.ant-table-thead>tr{
  display: flex;
}
.ant-spin-nested-loading{
  width: 100%;
}

.ant-table-thead>tr>th {
  width: 25%;
  text-align: center;
}

.ant-table-row>td{
  width: 25%;
  text-align: center;
}
