.g-admin-timeline {
    position: fixed;
    top: 0px;

    bottom: 0;
    overflow-y: scroll;
  .g-admin-timeset {
    margin-top: 1vh;
  
    padding: 15px 15px;
    width: 950px;

    background-color: #fff;
   
    
  }
}
