[data-component="review"]{

  .review-tool{
    margin:0 auto;
    width:60px;
    display:flex;
    justify-content: space-around;
  }
  
  
  .review-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mr-long{
    margin-right:20px
  }

  .m-short{
    margin: 0 10px;
  }

  .blue-font{
    color: blue;
  }

  .red-font{
    color: red;
  }
}

