#searchbox_title{
    padding: 5px;
    font-weight: bold;
    margin: 0;
    display: inline-block;
}

.search_method_box{
    margin-left: 20px;
    display: inline-block;
}

.search_method_box_title{
    padding: 5px;
    font-weight: bold;
    margin: 0;
    display: inline-block;
}

#search_input{
    display: inline-block;
    width: 150px;
    margin-left: 5px;
}

.search_select{
    width: 150px;
    margin-left: 5px;
}

#search_btn{
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}