.g-notice {
    .m-not-wp {
        position: relative;
        border: 1px solid #dddcdc;
        box-sizing: border-box;
        padding: 0 15px 25px 15px;

        .m-not-list {
            padding-left: 0;
            list-style: none;
        }

        .m-not-item {
            display: flex;
            padding: 10px 0;
            border-top: 1px solid #eee;
        }

        .u-not-date {
            font-family: Georgia, "Times New Roman", Times, serif;
            color: #ff6600;
            width: 80px;
        }

        .u-not-title {
            display: block;
            max-width: 85%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000;
            cursor: pointer;
        }

        .z-read {
            color: #999;
        }

        .m-status {
            color: #fff;
            padding: 0 10px 0 5px;
            font-size: 18px;
            line-height: 18px;
        }

        .z-unread {
            color: #428bca;
        }

        .m-page {
            position: absolute;
            bottom: 10px;
            right: 15px;
        }
    }

    .z-empty {
       position: absolute;
       top: 25%;
       left: 38%;
    }
}

.g-dialog {
    // .ant-modal-body {
    //     min-height: 550px;
    // }

    .u-title {
        font-size: 22px;
        font-weight: bold;
        color: #333;
        text-align: center;
    }

    .u-time {
        margin-bottom: 16px;
        text-align: center;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
}