.g-nav {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #333;
  color: #fff;
  align-items: center;

  .g-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .m-menu-item {
      width: 100%;
      height: 40px;
      padding: 0px 16px 0 40px;
      display: flex;
      justify-content: left;
      align-items: center;
      cursor: pointer;
      transition: .3s;
      font-size: 14px;

      &.active {
        background: #336699!important;
      }

      &:hover {
        background:#cc3300;
      }

      &>img {
        width: 16px;
        margin-right: 6px;
      }
    }

  }
}



