.g-s {
    padding: 16px;
    width: 950px;

    .m-banner {
        display: flex;
        position: relative;
        height: 94px;
        padding: 5px 15px;
        background-color: #e9f1f8;
        border-top: 1px solid #d4d7da;
        border-left: 1px solid #d4d7da;
        border-right: 1px solid #d4d7da;

        .u-title {
            align-self: flex-end;
            font-size: 24px;
            font-weight: bold;
            color: #336699;
        }

        .m-top-list {
            position: absolute;
            right: 25px;
            width: 60%;
            list-style: square;
            align-self: center;
        }

        .m-top-item {
            display: flex;
        }

        .u-top-title {
            display: block;
            width: 65%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #1d1d1d;
            cursor: pointer;
        }

        .u-top-date {
            margin-left: 15px;
            font-family: Georgia, "Times New Roman", Times, serif;
        }
    }

    .m-not-wp {
        position: relative;
        border: 1px solid #dddcdc;
        height: 245px;
        padding: 0 15px;

        .m-not-list {
            padding-left: 0;
            list-style: none;
        }

        .m-not-item {
            display: flex;
            padding: 10px 0;
            border-top: 1px solid #eee;
        }

        .u-not-date {
            font-family: Georgia, "Times New Roman", Times, serif;
            color: #ff6600;
            width: 80px;
        }

        .u-not-title {
            display: block;
            max-width: 85%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000;
            cursor: pointer;
        }

        .z-read {
            color: #999;
        }

        .m-status {
            color: #fff;
            padding: 0 10px 0 5px;
            font-size: 18px;
            line-height: 18px;
        }

        .z-unread {
            color: #428bca;
        }

        .m-page {
            position: absolute;
            bottom: 10px;
            right: 15px;
        }
    }

    .m-other {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        .u-title {
            font-size: 18px;
            font-weight: bold;
            color: #336699;
        }

        .m-card {
            width: 450px;
            min-height: 274px;
            padding: 10px 15px 5px 15px;
            border: 1px solid #dddcdc;

            .m-apply {
                display: flex;
                align-items: center;
                margin: 10px 0;

                .m-date {
                    width: 65px;
                    margin-right: 15px;
                }

                .u-ymd {
                    padding: 5px 0;
                    text-align: center;
                    background: #336699;
                    color: #fff;
                    font-family: Georgia, "Times New Roman", Times, serif;
                }

                .u-d {
                    font-size: 25px;
                    font-weight: bold;
                }

                .u-week {
                    line-height: 25px;
                    text-align: center;
                    color: #fff;
                    background-color: #da7431;                
                }

                .m-detail p {
                    margin-bottom: 5px;
                }

                .u-name {
                    font-size: 16px;
                    font-weight: bold;
                    color: #444;
                }
            }
        }
    }

    .m-tmplate {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        .u-file {
            min-width: 50%;
            margin: 2px 0;
            cursor: pointer;
            color: #1d1d1d;
        }
    }

    .m-tmp-wp {
        margin: 10px 0;

        .u-tmp-title {
            color: #444;
            font-weight: bold;
            font-size: 16px;
        }

        .u-tmp-title span {
            font-family: Georgia, "Times New Roman", Times, serif;
        }
    }
}

.g-dialog {
    // .ant-modal-body {
    //     min-height: 550px;
    // }

    .u-title {
        font-size: 22px;
        font-weight: bold;
        color: #333;
        text-align: center;
    }

    .u-time {
        margin-bottom: 16px;
        text-align: center;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
}