[data-component="t-auditTP"]{
  .m-main-table{
    margin-top: 46px;
  }

  table,tbody.ant-table-body{
    display: flex;
    flex-direction: column;
  }

  .ant-table-row,
  .ant-table-thead>tr{
    display: flex;
  }

  .ant-table-row,
  .ant-table-tbody>tr{
    width: 100%;
    text-align: center;
  }

  .ant-table-thead>tr th:first-child,
  .ant-table-tbody>tr td:first-child{
    flex: 3;
  }

  .ant-table-thead>tr th:nth-child(2),
  .ant-table-tbody>tr td:nth-child(2){
    flex: 8;
  }

  .ant-table-thead>tr th:nth-child(3),
  .ant-table-tbody>tr td:nth-child(3){
    flex: 5;
  }
}