//.g-ann {
    table,
    tbody.ant-table-tbody {
        display: flex;
        flex-direction: column;
    }

    .ant-table-row,
    .ant-table-thead>tr {
        display: flex;
    }
//}
.admin-content{
    margin: 1vh 32px;
}
