/*
 * @Descripttion: 管理员-公告文档-公告模块 scss
 * @version: 1
 * @Author: wyx
 * @Date: 2020-07-09 14:03:16
 * @LastEditors: wyx
 * @LastEditTime: 2020-07-09 20:36:02
 */ 

.g-ann {
    padding:15px 75px;
    width:950px;

    //antd-table组件
    table,
    tbody.ant-table-tbody {
        display: flex;
        flex-direction: column;
    }

    .ant-table-row,
    .ant-table-thead>tr {
        display: flex;
    }

    //表头标题位置
    .ant-table-cell {
        text-align: center;
    }

    //表头宽度
    .m-detail-table {
        .ant-table-cell:nth-last-child(4) {
            width: 400px;
            text-align: left;
        }
        .ant-table-cell:nth-last-child(3) {
            width: 150px;
        }
        .ant-table-cell:nth-last-child(2) {
            width: 150px;
        }
        .ant-table-cell:nth-last-child(1) {
            width: 100px;
        }
        // 表格中无数据时的默认样式
        .ant-table-placeholder .ant-table-cell{
            width: 800px;
        }
    }

    //发布公告按钮
  
}
.m-release-btn {
    margin-bottom:15px;
    float:right;
    z-index: 1;
}
//}
.admin-content{
    margin-top: 1vh;
}
