.g-stu-log {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    .ant-spin-nested-loading {
        width: 100%;
    }
    position: fixed;
}

@media screen and (min-width: 1000px) {
    .g-stu-mdl-dt {
        .m-pos {
            // position: relative;
            // left: 310px;
        }
        .ant-modal-content {
            width: 720px;
            position: absolute;
            // height: calc(100vh);
            overflow: scroll;
            height: 100vh;
            // flex-direction: column;
        }
    }
}
