[data-component="publish"]{
    .publish-block{
        width: 100%;
        overflow-y: auto;
        font-size: 14px;
    }
    
    .input-line{
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        border-bottom: 1px solid #fafafa;
        color: #000;
        margin: 25px;
    }

    .input-line-row{
        display: flex;
        padding-bottom: 5px;
        border-bottom: 1px solid #fafafa;
        color: #000;
        margin: 25px;
    }
    
    .input-left{
        margin-bottom: 10px;
        width: 100px;
        margin-right: 60px;
        display: flex;
        justify-content: space-between;
        letter-spacing: 2px;
    }
    
    .input-right>input{
        border: 0;
    }
    
    .input-right>input:focus{
        border: 0;
        outline: 0;
    }
    
    .have-placehoder::placeholder{
        color: #bbb; 
        font-size: 14px;
    }
    
}