[data-component="navAdmin"] {
  .g-admin-nav {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    color: #fff;
    align-items: center;
    border-right: 1px solid #aaa;

    .g-home-title {
      width: 100%;
      margin: 0 0 10px 0;
      padding: 10px 0;
      text-align: center;
      font-size: 18px;
      color: #333;
      cursor: pointer;
      font-weight: bolder;
      font-family: " Source Han Serif SC";
    }

    .g-info {
      width: 100%;
      padding: 30px 15px;
      background-color: #666;
      align-content: flex-end;

      div {
        display: flex;
        align-items: center;
      }
    }

    .g-status {
      width: 100%;

      margin-top: 5vh;
    }

    .g-status-name {
      margin-left: 15px;
      color: red;
      font-weight: bolder;
    }

    .g-status-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
    }

    .g-status-item {
      box-sizing: content-box;
      font-size: 12px;
      width: 24px;
      color: black;
      padding: 5px;
      border: 1px solid #aaa;
      border-radius: 3px;
    }

    .g-status-active {
      background-color: #fe6104;
      color: #fff;
      border-color: #fe6104;
    }

    .g-status-arrow {
      color: #fe6104;
    }

    .g-menu {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 5vh;

      .m-menu-item {
        width: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        font-size: 12px;
        background-color: #666;
        margin-bottom: 1.5vh;
        padding-left: 15px;

        .m-menu-span {
          width: 96px;
        }

        &.active {
          background: #336699 !important;
        }

        &:hover {
          background: #cc3300;
        }

        & > .iconStyle {
          width: 16px;
          margin-right: 6px;
        }
      }
    }
  }
}
