.g-ttn-tbl .ant-table-cell:nth-last-child(3) {
    width: 350px;
}

.g-ttn-tbl .ant-table-cell:nth-last-child(2) {
    width: 250px;
}

.g-ttn-tbl .ant-table-cell:nth-last-child(1) {
    width: 250px;
}