.avatar-uploader > .ant-upload {
  width: 66px;
  height: 66px;
}

.ant-upload.ant-upload-select-picture-card {
    margin: 0;
    border: none;
}

.g-file {
    text-align: center;
    position: relative;
}

.g-file .m-bdwrapper {
  border: 1px dashed #d9d9d9;
  box-sizing: border-box;
  width: 68px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-file .submitted-wp {
    border: 1px solid #d9d9d9;
}

.g-file .submitted-p {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: underline;
  cursor: pointer;
}

.g-file .m-del {
  position: absolute;
  right: 3px;
  top: 3px;
  color: #999;
}

.g-file .m-smile {
    font-size: 32px;
    color: #1891FF;
}

.ant-upload-text {
    color: #9e9e9e;
}