.g-topic {
    padding: 16px;
    width: 950px;
}

.g-topic h2 {
    margin-bottom: 2px;
}

.bold {
    font-weight: 550;
}

.m-topicInfo {
    border-top: 1px solid #eee;
    padding-top: 10px;
    clear: both;
}

.m-topicInfo p{
    margin-bottom: 5px;
}

.m-topicInfo h3 {
    color: #777;
}

.m-card {
    margin-top: 25px;
}

.m-cardItem {
    margin-bottom: 25px;
}

.g-topic .m-line{
    display: flex;
}

.g-topic .linespace {
    margin: 0 15px;
}

.g-topic .interval {
    margin-top: 18px;
}

.right-interval {
    margin-right: 45px;
}

.g-topic .m-line {
    display: flex;
    width: 100%;
}

.m-submit {
    text-decoration: underline;
}

.m-statusItem {
    width: 25%;
    margin-bottom: 5px;
}

.left-right {
    margin: 0;
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.m-paperInfo {
    width: 50%;
}

.g-topic .m-title {
    font-size: 18px;
}