.g-stu-prog {
    padding: 26px;
    width: 950px;

    .m-hd {
        display: flex;
        justify-content: space-between;

        & > .u-type {
            padding: 5px 10px;
            background-color: #ff653e;
            color: #fff;
        }

        & > .u-topic {
            margin: 0;
            padding-bottom: 2px;
            color: #999;
            font-weight: 550;
        }

        & > .u-name {
            font-weight: 550;
        }
    }

    .m-cont {
        padding-top: 35px;
        width: 100%;
        .ant-btn {
            padding: 0 4px;
        }
        .ant-btn > span {
            height: 24px;
            position: relative;
            top: -3px;
            margin: 2px 0;
        }
        .ant-btn > .anticon + span,
        .ant-btn > span + .anticon {
            margin-left: 1px;
        }
    }

    .m-time-line {
        display: flex;
        position: relative;
        top: 25px;
        padding: 0;
        border-top: 2px solid #d6dce0;
        list-style-type: none;

        .u-time-stamp {
            position: relative;
            left: 30px;
            width: 20%;
            padding: 15px 0;

            &:before {
                position: absolute;
                top: -9px;
                left: 10px;
                content: "";
                width: 15px;
                height: 15px;
                background-color: #fff;
                border-radius: 25px;
                border: 2px solid #d6dce0;
            }
        }

        h3 {
            margin-bottom: 2px;
            color: #555;
        }

        .u-link-file {
            text-decoration: underline;
            cursor: pointer;
        }

        .z-active:before {
            border: 2px solid #f90006;
        }

        .z-focus:before {
            //橙 #FF3300 #FC7F4F #fb8a2e #FF7946
            //绿 #41E8BB #7BC5D0 #1cc7d0 #5ecc62 #2DA754
            border: 2px solid #f90006;
            background-color: #f90006;
        }

        .u-status {
            margin-left: 12px;
            padding: 2px;
            border: 1px solid #fe1b10;
            border-radius: 3px;
            color: #fe1b10;
            font-size: 11px;
        }
    }

    .m-topic-info {
        display: flex;
        justify-content: space-between;
        clear: both;
        padding-top: 10px;
        border-top: 1px solid #eee;
    }

    .m-stage {
        width: 270px;

        & > .u-title {
            color: #999;
        }
    }

    .m-upload {
        float: left;
        margin-right: 20px;
    }

    .m-upload:first-child {
        .avatar-uploader > .ant-upload {
            width: 244px;
        }

        .m-filewp {
            width: 246px;
        }
    }

    .u-title {
        font-size: 18px;
        font-weight: 550;
    }

    .u-log {
        float: right;
        margin: 0;
        margin-top: -30px;
    }

    .m-op-score {
        width: 270px;
        position: relative;
        top: -90px;
        .m-nm-lst {
            display: inline-block;
            .u-nm-itm {
                line-height: 38px;
            }
        }
        .m-sc-lst {
            display: inline-block;
            position: relative;
            .u-sc-itm {
                line-height: 38px;
                position: relative;
                left: 32px;
                .score {
                    font-family: Georgia, "Times New Roman", Times, serif;
                    font-weight: bold;
                    font-size: 20px;
                    color: #ff653e;
                }
            }
        }
    }
}
