.g-topic {
    padding: 26px;
    width: 950px;
}

.g-topic h2 {
    margin-bottom: 2px;
}

.g-topic .bold {
    font-weight: 550;
}

.g-topic .m-topicInfo {
    border-top: 1px solid #eee;
    padding-top: 10px;
    clear: both;
}

.g-topic .m-topicInfo p{
    margin-bottom: 5px;
}

.g-topic h3 {
    color: #999;
}

.g-topic .m-card {
    margin-top: 25px;
}

.g-topic .m-cardItem {
    margin-bottom: 25px;
}

.g-topic .linespace {
    margin: 0 15px;
}

.g-topic .interval {
    margin-top: 35px;
}

.g-topic .right-interval {
    margin-right: 20px;
}

.g-topic .bottom-interval {
    margin-bottom: 10px;
}

.g-topic .spact-bwt {
    justify-content: space-between;
}

.g-topic .m-line {
    display: flex;
    width: 100%;
}

.g-topic .m-submit {
    text-decoration: underline;
}

.g-topic .m-timeLine {
    list-style-type: none;
    display: flex;
    margin-top: 25px;
    padding: 0;
    border-top: 2px solid #D6DCE0;
}

.g-topic .m-timeLine h3{
    color: #555;
    margin-bottom: 2px;
}

.g-topic .m-timeStamp {
    width: 20%;
    margin-left: 30px;
    position: relative;
}

.g-topic .m-timeStamp:before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #D6DCE0;
    position: absolute;
    top: -9px;
    left: 10px;
}

.g-topic .m-statusItem {
    margin-top: 15px;
}

.g-topic .active:before {
    border: 2px solid #FF3300;
}

.g-topic .focus:before {
    border: 2px solid #FF3300;
    background-color: #FF3300;
}


.g-topic .left-right {
    margin: 0;
    float: right;
    margin-top: -30px;
}

.g-topic .m-paperInfo {
    width: 50%;
}

.g-topic .m-title {
    font-size: 18px;
}

.g-topic .m-stage {
    width: 33%;
}

.g-topic .border-bwt {
    border-left: 1px solid #9e9e9e;
    border-right: 1px solid #9e9e9e;
}

.g-topic .left-pad {
    padding-left: 15px;
}

.g-topic .m-file:first-child .avatar-uploader > .ant-upload {
    width: 244px;
}

.g-topic .m-file:first-child .m-bdwrapper {
    width: 246px;
}

.g-topic .floatLeft {
    float: left;
}

.g-topic .m-pType {
    background-color: #FF6600;
    color: #fff;
    padding: 5px 10px;
}

.g-topic .m-pTopic {
    color: #999;
    margin: 0 auto;
    font-size: 20px;
}

.g-topic .m-grade {
    padding-left: 20px;
}