[data-component="gfileMag"] {
  .g-admin-fileMag {
  }
}
.ant-modal {
  width: 900px !important;
  .ant-modal-content {
    height: 550px !important;
  }
}
.label-text {
  position: relative;
  left: 42px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
.subit_buttom {
    margin: 2vh auto;
    width: 358px !important ;
    height: 4.3vh !important ;
    border-radius: 8px;
    background-color: #0585d0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    
  }
 
  .m-filewp {
    box-sizing: border-box;
    width: 345px;
    height: 214px;
    border: 1px dashed #d9d9d9;
    margin: 2vh auto;
    &:hover {
        border: 1px dashed #1891FF;
    }
}

.z-submit-wp {
    border: 1px solid #d9d9d9;

    &:hover {
        border: 1px solid #1891FF;
    }
}

.z-submit-p {
    text-decoration: underline;
    cursor: pointer;
}

.u-del {
    position: absolute;
    right: 3px;
    top: 3px;
    color: #999;
}

.z-success {
    font-size: 24px;
    color: #1891FF;
}

.avatar-uploader > .ant-upload {
    width: 343px;
    height: 212px;
}

.ant-upload.ant-upload-select-picture-card {
    margin: 0;
    border: none;
}

.ant-upload-text {
    color: #9e9e9e;
}
.ant-form-item-label{
    margin-bottom: 1vh!important;
}
.ant-form-item-label > label{
    font-size: 16px;

}