/*.g-nav {
  height: 50px;
  display: flex;
  background: #333;
  color: #fff;
  align-items: center;

  .g-menu {
    display: flex;
    flex: 1;

    img {
      width: 20px;
      background: #fff;
    }

    &>div {
      margin: 0 0 0 10px;
    }
  }
}



*/